version: "3"
services:
  app:
    build:
      context: app
      dockerfile: ../Dockerfile
    command: bash -c 'npm start'
    ports:
      - "8080:8080"
    volumes:
      - "./app:/app"
    depends_on:
      - db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  caddy:
    image: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./services/caddy/Caddyfile:/etc/caddy/Caddyfile"
      - "./public:/etc/caddy/public"
      - caddy_config:/config
    depends_on:
      - app

volumes:
  caddy_data:
    external: true
  caddy_config: