version: "3"
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - "pgdata:/var/lib/postgresql/data"

  app:
    build:
      context: app
      dockerfile: ../Dockerfile.production
    command: bash -c "npm install && make test"
    volumes:
      - "./app:/app"
    image:
      vladislav1923/devops-for-programmers-project-lvl1
    depends_on:
      - db

volumes:
  pgdata:
  caddy_data:
      external: false
  caddy_config: